@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
.about{
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    background-color: #F1EFEF;
}
.about-left{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 45%;
    max-height: 100%;
    padding: 3%;
    box-sizing: border-box;
    cursor: pointer;
}

.about-left img{
    object-fit: fill;
    width : 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 3px 5px 5px rgb(56, 56, 56, 0.8);
}

.about-right{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 2%;
    flex-direction: column;
    cursor: pointer;
}
.about-right .title{
    font-family: 'Dancing Script', cursive;
    font-size: 56px;
    margin-bottom: 3%;
    text-shadow: 2px 2px 2px rgba(61, 61, 61, 0.5);
}
.about-right .description{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    text-align: justify;
    padding: 0px 18px;
    line-height: 28px;
    text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.3);
    box-sizing: border-box;
}